<% include header %>
<div class="index-header">
  <h1 class="ribbon">
    <strong class="ribbon-content"
      >AB<br />
      <p class="index-para demo">Welcome to ArticleBlog</p></strong
    >
  </h1>
  <!-- <p>Welcome to ArticleBlog</p> -->
</div>
<center>
  <a href="/users/login" class="index-btn"><span class="explore-articles">Explore Articles</span></a>
  <a href="/users/login" class="index-btn index-btn1"><span class="explore-articles">LOGIN</span></a>
  <a href="/users/register" class="index-btn index-btn1"><span class="explore-articles">REGISTER</span></a>


</center>
<% include footer %>
