/* index page */
body {
  padding: 50px;
  /* color: cyan; */
  /* background:grey; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: black;
}
input {
  font-size: 24px;
}
.index-header {
  margin: 0 auto;
  text-align: center;
}
.index-header h1 {
  font-size: 75px;
  font-weight: 700;
}
.index-header p {
  font-size: 27px;
}
.ribbon {
  width: 50%;
  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 16px 32px;
  margin: 32px auto 48px;
}
.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -16px;
  border: 74px solid #986794;
  z-index: -1;
}
.ribbon::before {
  left: -102px;
  border-right-width: 44px;
  border-left-color: transparent;
}
.ribbon::after {
  right: -102px;
  border-left-width: 44px;
  border-right-color: transparent;
}
.ribbon .ribbon-content::before,
.ribbon .ribbon-content::after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -16px;
}
.ribbon .ribbon-content::before {
  left: 0;
  border-width: 16px 0 0 16px;
}
.ribbon .ribbon-content::after {
  right: 0;
  border-width: 16px 16px 0 0;
}
.index-btn {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  position: relative;
  padding: 0 10px;
  transition: 0.65s ease-in-out all;
  font-weight: 300;
  display: inline-block;
  margin-top: 100px;
}
.index-btn::before {
  content: "";
  position: absolute;
  background: #ec3f7a;
  width: 2px;
  height: 100%;
  left: 0;
  transition: 0.2s ease-in-out all;
}
.index-btn:hover::before {
  width: 100%;
  transition: 0.65s ease-in-out all;
}
.index-btn:hover {
  font-size: 1.6em;
}
.explore-articles {
  color: #000;
  position: relative;
}
.explore-articles:hover {
  color: #fff;
  /* transition: 0.65s ease-in-out all; */
}

/* all articles */
.all-articles {
  color: #ec3f7a;
  display: block;
  text-align: center;
}
.all-articles h2 {
  font-size: 47px;
}
.articles {
  font-family: "Libre Caslon Text", serif;
  letter-spacing: 0.1rem;
  color: grey;
  /* opacity: 0.3; */
}
.articles-section {
  max-width: 40%;
  margin: 0 auto;
  /* border: 2px solid grey; */
  box-shadow: 10px 10px 8px gray;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: cornsilk;
  margin-bottom: 40px;
}
.articles-section p {
  font-size: 24px;
  /* font-weight: 200; */
}

/* user details */

.details-section {
  max-width: 50%;
  margin: 0 auto;
  /* border: 2px solid grey; */
  box-shadow: 10px 10px 8px gray;
  border-radius: 10px;
  padding: 30px 30px;
  background-color: cornsilk;
  margin-bottom: 40px;
}
.details-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: grey;
}

.details-author {
  text-align: right;
}
a {
  text-decoration: none;
}
.home-btn {
  text-align: center;
  margin: 0 auto;
  /* width: auto; */
  /* border: 2px solid cyan; */
}
.home-btn button {
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px 17px;
  background: cornsilk;
}
.btn {
  position: relative;
  top: 0;
  border: none;
  margin: 5px;
  cursor: pointer;
  background: #eaeaea;
  box-shadow: 0px 2px 0px rgb(167, 167, 167);
  transition: all 0.5s ease;
}
.btn:hover {
  color: white;
  top: -15px;
  box-shadow: 0px 2px 10px rgb(167, 167, 167);
}
.btn:hover {
  background: #ec3f7a;
  /* background: ; */
}
.details-comments {
  max-width: 50%;
  margin: 0 auto;
  /* border: 2px solid grey; */
  box-shadow: 10px 10px 8px gray;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: cornsilk;
  margin-bottom: 20px;
  font-size: 18px;
}
.delete-icon {
  margin-right: 10px;
}
.details-buttons {
  max-width: 40%;
  margin: 35px auto;
  text-align: center;
}
.btn1 {
  position: relative;
  top: 0;
  font-size: 30px;
  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%; */
  border: none;
  margin: 10px;
  margin-right: 40px;
  cursor: pointer;
  background: transparent;

  /* box-shadow: 0px 2px 0px rgb(167,167,167); */
  transition: all 0.5s ease;
  /* rotate: 360deg; */
}
.btn1:hover {
  color: green;
  top: -10px;
  box-shadow: 0px 2px 0px rgb(167, 167, 167);
}

.details-buttons .back:hover {
  color: green;
}
.details-buttons .edit:hover {
  color: blue;
}
.details-buttons .delete:hover {
  color: violet;
}
.details-buttons .likes:hover {
  color: crimson;
}

.detail-form {
  max-width: 50%;
  margin: 0 auto;
  /* border: 2px solid grey; */
  box-shadow: 10px 10px 8px gray;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: cornsilk;
  margin-bottom: 20px;
  font-size: 18px;
}
.add-comment {
  text-align: center;
  margin-top: 20px;
  /* margin: 0 auto; */
}
.input-btn{
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 700;
  background: lightgreen;
  border-radius: 7px;
  /* outline: none; */
}
/* update form  */
.update-form {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
}
.update-form input {
  margin: 10px auto;
}
/* .update-comment {
  display: flex;

} */
.update-form textarea {
  font-size: 17px;
}
.index-btn2 {
  text-align: center;
  margin-bottom: 50px;
}
.btn2 {
  font-size: 50px;
}
.header3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}